





<div class="AllCategories">
    <h1 class="soulway Title"><%= locals.title %> : <%= locals.categories.length %> Categories</h1>
    <div class="collection">
        <%- include("Categories") %>
    </div>
</div>

