





<div class="AllCategories">
    <div class="collection">
        <% if (locals.categories.length > 0){ %>
            <% locals.categories.forEach((category)=>{ %>
            <a href="" class="link">
                <div class="category">
                <div class="imgHolder">
                    <% if (category.picture == null) { %>
                        <img src="" alt="">
                    <% } else { %>
                    <img src="data:<%= category.datatype %>;base64,<%= category.picture.toString('base64') %> " alt="movie image">
                    <% } %>
                </div>
                <p class="soulway"><%= category.name %></p>
                <p><%= category.count %> Movies</p>
                </div>
            </a>
            <% }) %>
         <% } else { %>
            <h1>No Category exists. Create a category to display!</h1>
          <% } %>
    </div>
</div>

