





<footer>
    <h1 class="title bigger">Movie Inventory</h1>
    <p>Part of the <a href="https://www.theodinproject.com/dashboard" target="_blank">Odin Project's</a> curriculum.</p>
    <p>The homepage video can be found <a href="https://www.youtube.com/watch?v=nC9uEKtPdfg&list=RDnC9uEKtPdfg&start_radio=1">here</a>.</p>
</footer>