








<header>
    <h1 class="title">Movie Inventory</h1>
    <ul>
        <li class="listItem"><a href="">Movies</a></li>
        <li class="listItem"><a href="">Categories</a></li>
        <li class="listItem"><a href="/">Home</a></li>
        <li class="listItem"><a href="/category/create">New Category</a></li>
        <li class="listItem"><a href="/movies/create">New Movie</a></li>
    </ul>
</header>