





<div class="homePage">
    <div class="IntroductionContainer">
            <div class="videoContainer">
            <video src="/BgVideo.mp4" autoplay muted loop class="muted">
            </video>
             </div>
        </div>
        <div class="categoriesContainer">
            <h1 class="soulway big">Featured Categories</h1>
            <div class="categories">
                <%- include("Categories") %>
            </div>
        </div>
        <div class="moviesContainer">
            <h1 class="soulway big">Featured Movies</h1>
            <div class="movies">
                <%- include("Movies") %> 
            </div>
        </div>
</div>