






<div class="AllMovies">
    <%- include("Filter") %>
    <h1 class="soulway Title"><%= locals.title %> : <%= locals.movies.length %> Movies</h1>
    <div class="collection">
        <%- include("Movies") %>
    </div>
</div>