




<div class="body">
    <div class="warning">
        <h2>Warning!</h2>
        <p>If you remove this category, all movies that are in this category will also be deleted. Do you still want to proceed?</p>
        <div class="options">
                <a href="<%= locals.path %><%= locals.id %>">Continue</a>
                <a href="<%= locals.redirect %>">Go Back</a>
        </div>
    </div>
</div>