






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Inventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("../Partials/Header") %>
    <main>
        <%- include(locals.content, {categories : locals.categories, movies : locals.movies}) %>
    </main>
    <%- include("../Partials/Footer") %>
    <script>
    document.querySelector("#order").addEventListener('change', function(){
        document.querySelector(".filter").submit();
    })
    </script>
    <script>
        const fileInput = document.getElementById('PictureInput');
        const fileNameDisplay = document.querySelector(".fileName");
        fileInput.addEventListener('change', function () {
            
            if (fileInput.files.length > 0) {
            fileNameDisplay.textContent = fileInput.files[0].name;
            } else {
            fileNameDisplay.textContent = "No file chosen";
            }
        });
    </script>
</body>
</html>