






<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Inventory</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include("../Partials/Header") %>
    <main>
        <%- include(locals.content, {categories : locals.categories, movies : locals.movies}) %>
    </main>
    <%- include("../Partials/Footer") %>
    <script>
    document.querySelector("#order").addEventListener('change', function(){
        document.querySelector(".filter").submit();
    })
    </script>
</body>
</html>